player-connection-mode=Listen
player-connection-guid=932262870
player-connection-debug=0
player-connection-project-name=Primer Parcial Redes
player-connection-ip=192.168.100.33
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=551b3b3afeeb4e68b55017c3ec86fedc
